header {
    width: 100%;
    padding: 30px 2%;
}

#navbar {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    width: 130px;
    border-radius: 12%;
    
}


#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;

}

.nav-item a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;

}

.nav-item.active a {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid #ff000042;
}

#mobile_btn {
    display: none;

}
#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default{
        display: none;
    }
    #mobile_btn {
        display: block;
        border:  none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor:  pointer;

    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }    

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

}