@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    max-width: 100%;
    max-height: 100%;
    background-image: url(https://i.postimg.cc/Wp8LcrDF/fundo2.png);
    background-size:100%;
    background-size: cover;
   
}


section {
    padding: 30px 2%;
}
.btn-default { 
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor:pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #f8d477;

}
.social-media-buttons {
    display: flex;
    gap: 18px;

}
.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #ffffff;
    font-size: 1.3rem;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    transition: box-shadow .3s ease;

}
.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
}

